Quality guidelines - CrazyGames Documentation

Skip to content

CrazyGames Documentation

Quality guidelines

Initializing search

Submit a game

CrazyGames Documentation

Introduction

Requirements

Requirements

Introduction

Technical

Gameplay

Advertisement

Account integration

Multiplayer

Game covers

Quality guidelines

Quality guidelines

Table of contents

Onboarding

General principles

What makes your game a fun experience?

Is your game unique?

Is your game aesthetically pleasing?

Restricted Keys

SDK

SDK

Introduction

Video ads

Banners

Game

User

Data

In-game purchases

Leaderboards

Leaderboards

Introduction

Leaderboards SDK

Leaderboards API

Other engines

Other engines

GDevelop ↗

Defold ↗

Wonderland ↗

Resources

Resources

General

General

Mouse control

CrazyGames App

Basic Launch Guide

Game Loading Tips

Monetization

Monetization

Ad Monetization Guide

Mastering Rewarded Ads

Optimizing Midgame Ads

Banner Ad Best Practices

Hypercasual & IO

Midcore, RPG & Idle

Puzzle

Action

Clicker

Word

Driving

HTML5

HTML5

Sitelock

Common fixes

Unity

Unity

Custom build

Optimization tips

Optimizer package

Common Issues

Addressables guide

References

References

External resources

Partners

FAQ & Contact

Payouts

Table of contents

Onboarding

General principles

What makes your game a fun experience?

Is your game unique?

Is your game aesthetically pleasing?

Restricted Keys

Quality guidelines

Guideline

This page describes a number of guidelines to publish a succesful game on the CrazyGames platform. The guidelines should be used alongside our mandatory requirements .

Whether a game is "good" or "bad" can often be subjective, but there are best practices learned from our experiences with successful games. The following list is non-exhaustive.

Onboarding

For a game to be successful it is crucial that users get to gameplay quickly, understand what the game is about and how to control it.
A good onboarding is paramount to make this possible:

Provide a simple onboarding phase where new users land directly.
Implement the onboarding in gameplay.

Focus on the core functionality so users can start playing, avoid explaining every single feature.

Make the onboarding phase skippable.

Prioritize visuals and limit the use of text for onboarding.

Show the user how to control the game with a keyboard overlay or mouse gestures. See Restricted Keys for more info.

Make sure the UI is clear.
Buttons are clearly labeled to indicate how to proceed.

Buttons are not sized to encourage ads or other behaviors.

Buttons do not have delays to confuse users or encourage other behaviors.

General principles

Once a user is onboarded into the game, here are some general principles for web games:

There are clear goals that the player can reach.

The game is easy to learn.

The game is easy to understand — the language is correct and clear, well translated, or the game makes good use of universal graphics prompts.

The controls are consistent and intuitive throughout the game.

What makes your game a fun experience?

Attributes of a web game that adheres to best practices:

The game responds quickly to the player's actions.

The challenge, strategy, and game story are balanced and well-paced.

The display layout is comfortable and intuitive.

The audio is comfortable and appropriate for the game.

The game interface is designed for the user's device (desktop and optionally mobile).

Various player segments can enjoy the game.

The game story or scenarios are interesting where applicable.

There are no overly repetitive or "boring" tasks in the game.

The game processes information quickly to give players a feeling of smooth flow and continuity.

Solo play and playing with friends:
Playing alone is as prominent as playing with friends if both are offered.

If playing alone is not available, the game clearly explains that.

Is your game unique?

Attributes of a web game that adheres to best practices:

It should be easy to improve or modify the game to add new content like new levels, art, story elements, etc.

Major features such as the game's genre should not change after submission.

The game should be frequently maintained and updated.

The game is not easily confused with another that features a similar name or iconography.

The game does not use a common identifier unless the game developer owns the respective IP.
E.g. the name “Super Chess” is unique and clear, while simply “Chess” is not.

The name “Scrabble” is clear and unique, but can only be used by the IP holder.

Is your game aesthetically pleasing?

Attributes of a web game that adheres to best practices:

Graphics should be of high quality.
High resolution — quality games are visually pleasing.

Quality games have consistent resolution throughout the game.

Quality games are free of graphical defects like compression artifacts.

Audio should be of high quality
Audio levels are consistent.

Sounds aren't too loud or quiet

Any music in the game complements the visual experience

In addition to having no technical graphical issues, the game is internally consistent, coherent, and has attractive visuals. The games aesthetic style should remain consistent and not switch between looks i.e. moving from realistic to cartoony, or high resolution to low resolution.

The game is clear about what it is. It isn't misleading and is clear about what genre and type of game it is overall. The name and imagery presented on CrazyGames should reflect accurately the type of game the player will experience. The game only changes its name and associated imagery where totally necessary, such as when a significant update or visual overhaul of the game takes place.

Restricted Keys

It's important that the game controls are intuitive and easy to learn.

Preferably make your key bindings adapt to the user's keyboard layout, rather than requiring the user to change their own bindings.
Note that in some countries, like France, the standard keyboard has AZERTY layout, and the typical WASD keys for movement are ZQSD on that layout.

Avoid common keys that have other behaviour on web:
Escape closes fullscreen

Ctrl / Cmd + W closes the tab; you can disable this when the user is in fullscreen

Made with

Material for MkDocs

Ask AI
